header{
    border: 3px purple solid;
    height: 20%;
}

nav{
    border: 3px pink solid;
    height: 60%;
}

footer{
    border: 3px greenyellow solid;
    height: 20%;
}

li.menu{
    list-style-type: none;
    display: inline;
    margin: 10px;
    border: 2px solid pink;
}

div.menu {;
    width: 80%;
    position:absolute;
    left: 20%;
    top: 3%;
}

div.logo  {
    width: 20%;
    position:absolute;
    top:3%
}